.Buttons{
    vertical-align: middle;
    padding: 50px;
    display: flex;
    justify-items: middle;
    margin-top: 350px;
}
.Buttons button{
    padding: 70px;
    margin: auto;
    border-style: none;
    color: black;
    font-family: Arial;
    font-weight: 400;
    font-size: 70px;
    background-color: white;
    border-radius: 10px;
}
.Buttons button:hover{
    background-color: gainsboro;
}



.Zurückbuttons{
    vertical-align: left;
    padding: 20px;
    justify-items: left;
    margin-top: 20px;
    display: none;
}
.Zurückbuttons button{
    padding: 30px;
    border-style: none;
    color: black;
    font-family: Arial;
    font-weight: 250;
    font-size: 40px;
    background-color: white;
    border-radius: 10px;
}
.Zurückbuttons button:hover{
    background-color: gainsboro;
}



.PremierLeague{
    display: none;
    padding: 50px;
}
.Tabelle{
    background-color: gainsboro;
    border-radius: 10px;
    width: auto;
    height: auto;
    align-items: center;
}
caption{
    font-family: Arial;
    font-weight: 400;
    font-size: 40px;
    padding:15px;
}
.thead th{
    font-family: Arial;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    padding:15px;
}
#TabellenInhalt th{
    text-align: left;
}
#TabellenInhalt th{
    font-family: Arial;
    font-weight: 400;
    font-size: 30px;
    padding-top: 30px;
}
#TabellenInhalt td{
    text-align: center;
    font-family: Arial;
    font-weight: 300;
    font-size: 30px;
    padding-top: 30px;
}
#TabellenInhalt tr:hover{
    background-color: lightgray;
}
#TabellenInhalt img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}





.ChampionsLeague{
    display: none;
    padding: 50px;
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    grid-template-columns: auto auto;
}
.TabelleCL{
    background-color: gainsboro;
    border-radius: 10px;
}
.TabelleCL th{
    text-align: left;
}
.TabelleCL th{
    font-family: Arial;
    font-weight: 400;
    font-size: 30px;
    padding-top: 30px;
}
.TabelleCL td{
    text-align: center;
    font-family: Arial;
    font-weight: 300;
    font-size: 30px;
    padding-top: 30px;
}
.TabelleCL tr:hover{
    background-color: lightgray;
}
.TabelleCL img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}